---
import Layout from "../layouts/Layout.astro";

// jackal gLobal constants
const secretAddress = "secretvalcons1qz6dgmf0rgk8p08wznlnmqe7hnm4qydftvaajj",
evmosAddress = "evmos1fpjf8aywxg9qxexfwu9lanlgw58f5fhqyj79xt",
akashAddress = "akash1mryswr20mxltwhlqulsk0hnscmmxw32tad7yxx",
kujiraAddress = "kujira1uf9knclap4a0vrqn8dj726anyhst7l02nymu3j";

// SECRET
const secretLatestBlock = await fetch("https://api.scrt.network/blocks/latest").then((res) => res.json()),
secretCurrBlock = parseInt(secretLatestBlock["block"]["header"]["height"]),
secretStakingParams = await fetch("https://api.scrt.network/cosmos/staking/v1beta1/params").then((res) => res.json()),
secretMaxValidators = secretStakingParams["params"]["max_validators"];

// EVMOS
const evmosLatestBlock = await fetch("https://evmos-api.polkachu.com/blocks/latest").then((res) => res.json()),
evmosCurrBlock = parseInt(evmosLatestBlock["block"]["header"]["height"]),
evmosStakingParams = await fetch("https://evmos-api.polkachu.com/cosmos/staking/v1beta1/params").then((res) => res.json()),
evmosMaxValidators = evmosStakingParams["params"]["max_validators"];

// AKASH
const akashLatestBlock = await fetch("https://api-akash-ia.cosmosia.notional.ventures/blocks/latest").then((res) => res.json()),
akashCurrBlock = parseInt(akashLatestBlock["block"]["header"]["height"]),
akashStakingParams = await fetch("https://api-akash-ia.cosmosia.notional.ventures/cosmos/staking/v1beta1/params").then((res) => res.json()),
akashMaxValidators = akashStakingParams["params"]["max_validators"];

// KUJIRA
const kujiraLatestBlock = await fetch("https://kujira-api.polkachu.com/blocks/latest").then((res) => res.json()),
kujiraCurrBlock = parseInt(kujiraLatestBlock["block"]["header"]["height"]),
kujiraStakingParams = await fetch("https://kujira-api.polkachu.com/cosmos/staking/v1beta1/params").then((res) => res.json()),
kujiraMaxValidators = kujiraStakingParams["params"]["max_validators"];
---

<Layout title="Jackal Labs Dashboard">
  <main>
    <div class="secret">
      <b>Secret</b>
      <div class="block-height">Current Block Height: {secretCurrBlock}</div>
      <div class="max-validators">
        Number of Validators: {secretMaxValidators}
      </div>
    </div>
    <div class="evmos">
      <b>Evmos</b>
      <div class="block-height">Current Block Height: {evmosCurrBlock}</div>
      <div class="max-validators">
        Number of Validators: {evmosMaxValidators}
      </div>
    </div>
    <div class="akash">
      <b>Akash</b>
      <div class="block-height">Current Block Height: {akashCurrBlock}</div>
      <div class="max-validators">
        Number of Validators: {akashMaxValidators}
      </div>
    </div>
    <div class="kujira">
      <b>Kujira</b>
      <div class="block-height">Current Block Height: {kujiraCurrBlock}</div>
      <div class="max-validators">
        Number of Validators: {kujiraMaxValidators}
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    font-size: 30px;
    justify-content: center;
    text-align: center;
  }

  .max-validators {
    padding-bottom: 10px;
  }
</style>
