---
export interface Chain {
    title: string,
    api: string,
    address: string,
    height: any,
}
const { title, api, address } = Astro.props;

// Chain object
const validatorChain: Chain = {
    title: `${title}`,
    api: `${api}`,
    address: `${address}`,
    height: 0,
}

// get functions
async function getCurrentBlock(chain: Chain) {
  const response = await fetch(`${chain.api}/blocks/latest`).then((res) => res.json());
  return parseInt(response["block"]["header"]["height"]);
}

async function getValidators(chain: Chain) {
  const response = await fetch(`${chain.api}/validatorsets/${chain.height-30}`).then((res) => res.json()); // -30 to avoid block error
  return response;
}

async function getMoreValidators(chain: Chain) {
    const response = await fetch(`${chain.api}/validatorsets/${chain.height-30}?page=2`).then((res) => res.json());
    return response;
}

// Validator Info
const validatorHeight = await getCurrentBlock(validatorChain);
validatorChain.height = validatorHeight; // update chain height on api call
const validators = await getValidators(validatorChain);
var jackalRank;

// check if there is a page 2, then iterate accordingly
var maxValidators;
if (validators["result"]["total"] == validators["result"]["validators"].length) {
    maxValidators = validators["result"]["total"];
    for (let i = 0; i < maxValidators; i++) {
        if (validators["result"]["validators"][i]["address"] == validatorChain.address) {
            jackalRank = i + 1;
        }
    }
} else {
    const moreValidators = await getMoreValidators(validatorChain)
    maxValidators = validators["result"]["validators"].length + moreValidators["result"]["validators"].length
    for (let i = 0; i < moreValidators["result"]["validators"].length; i++) {
        if (moreValidators["result"]["validators"][i]["address"] == validatorChain.address) {
            jackalRank = validators["result"]["validators"].length + i + 1;
        }
    }
}
---
<div>
    <b>{title}</b>
    <div class="block-height">Current Block Height: {validatorHeight}</div>
    <div class="max-validators">
        Number of Validators: {maxValidators}
    </div>
    <div class="rank">Rank: {jackalRank}</div>
</div>

<style>
</style>